@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our site!</h1>
    <p>Unlock a world of convenience and adventure! Log in to our car rental service today to enjoy seamless booking, exclusive offers, and the freedom to hit the road on your terms. Your next journey awaits – <a id="register" asp-area="Identity" asp-page="/Account/Register">sign in</a> and drive with us!.</p>
</div>
