@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thank you for your registration. You can reserve a car using "Rent" button, but office would have to confirm your data before you can rent a car. Once your data is confirmed, you will be able to rent a car without office confirmation.
</p>

